
/* Для всего содержимого страницы */
div#content {
font-family:Verdana;
font-style:normal;
font-size:normal;
font-weight:bold;
text-align:center;
}
header, footer{
    padding: 1em;
    color: white;
    background-color: #007196;
    clear: left;
    text-align: center;
}
nav {
    height: 40px;
    border: solid #333;
    padding: 1em;
    text-align: center;
    list-style-type:none;
    /* цвет фона меню */
    background-color:#66CDAA;
}
/* для отдельных ссылок в области меню */
nav a {
    /* отступ между пунктами меню */
    margin-right:10px;
    /* отменить подчеркивание ссылки */
    text-decoration:none;
    padding: 10px;
    color:white;
    /* рамка для каждого пункта меню */
    border: solid white 2px;
    box-shadow: 20px 0 20px -20px #000 inset, -20px 0 20px -20px
    #000 inset;
}
div #logo img{
    width: 200px;
    height: 150px;
    float: left;
}
table#tours td{
    text-align: left;
    border: 2px solid #66CDAA;
}
table#form td{
    text-align: left;
    border: 2px solid #66CDAA;
}
#tours {
    text-align:left;
}
.tour {
    /* Занимает 30% от ширины блока-обертки */
    width: 30%;
    /* В цветной рамке */
    border: #66CDAA solid 2px;
    /* Расположение текста по центру */
    text-align: center;
    /* Внутренний отступ со всех сторон */
    padding: 5px;
    /* Внешний отступ со всех сторон */
    margin: 3px;
    /* Прижимается к левой стороне, следующий блок обтекает его
    справа */
    float: left;
}
.tour img {
    Width: max;
    height: 150px;
}
div.tour a {
    background-color: #66CDAA;
    text-decoration: none;
    padding: 3px;
    color: white;
    box-shadow: 20px 0 20px -20px #000 inset, -20px 0 20px -20px
    #000 inset;
}
#main {
    color:#008080;
    font-weight:normal;
    text-align:justify;
    padding: 1em;
}